<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hamza.firestonev1">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="myShift"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".activities.AboutAcitivity" />
        <activity android:name=".activities.CalenderActivity"/>
        <activity android:name=".activities.myShiftsActivity"/>
        <activity
            android:name=".activities.home"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.RegisterActivity" />
        <activity android:name=".activities.ShiftConfirm" />
        <activity android:name=".activities.ShiftList" />
        <activity android:name=".activities.MainActivity"/>

        <service
            android:name=".models.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>